@media only screen and (max-width: 1140px)
{
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        height: 478px;
        transition: all 1.4s ease-out;
    }
    .rightnav{
        text-align: center;
    }
    #search{
        width: 100%;
    }
    .boxmain{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .burger{
        display: block;
    }
    
    .h-rev{
        height: 72px;
    }
    .v-class{
        opacity:0;
    }
    .section{
        display:flexbox;
        flex-direction: column-reverse;
    }
    
}

